@model IEnumerable<PartnerTaskApp.Models.ViewModels.PartnerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Partners</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeePercent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeePercent)
            </td>
        </tr>
}
    </tbody>
</table>
